html, body, #root {
  height: 100vh;
  width: 100vw;
  margin: 0px;
}

:root {
  height: 100%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ai-chat-message.assistant {
  background-color: lightgreen;
}
.ai-chat-message.user {
  background-color: lightblue;
}

pre {
  white-space: pre-wrap;
}


div.hidden {
  display: none;
}

.highlighted {
  background-color: yellow;
}

table {
    border-collapse: collapse;
}

div.table-container-inner {
  width: 100%;
  /* overflow-x: auto; */
}

div.table-container {
 width: 100%;
}

div.table-container h3  {
  position: sticky;
  top: 0px;
  left: 0px;
  background-color: white;
}

th.pk {
  background: skyblue;
}

thead th{
    position: sticky;
    top: 1.4em; /* Stick to the top of the table container */
    background-color: #fff; /* Ensure the header is not transparent */
}

th, td {
    border: 1px solid black; /* For visibility */
    padding: 8px; /* Padding for aesthetics */
    text-align: left;
}



a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


.node {
  fill: lightgray;
  stroke: white;
  stroke-width: 1.5px;
}

.node.user {
  fill: lightblue;
}

.node.assistant {
  fill: lightgreen;
}

.node.highlighted {
  stroke: yellow;
  stroke-width: 2px;
  z-index: 1000;
}
.node.locked {
  fill: black !important;
  
  stroke: #ccc;
  stroke-width: 5px !important;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.link.highlighted {
  stroke: yellow;
  stroke-width: 2px;
  z-index: 1000;
}